header {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    position: fixed;
    margin-bottom: 700px;
    width: 100%;
    z-index: 1;
    background-color: white;


  }

header div{
    display: flex;
    align-items: center;

}

/* PROPIETA' DEL CONTENITORE DELLA BARRA DI RICERCA */
header div.search-container{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


header div.search-container input[type=text]{
    border-radius: 20px 0px 0px 20px;
    width:400px;
    outline: none;
    padding: 12px 20px;
    transition: 550ms;

}

header div.search-container input[type=text], button{
    height: 40px;
    border: white;
}

header div.search-container button{
    width: 40px;
    cursor: pointer;
    border-radius: 0px 20px 0px 20px;
    transition: 850ms;
    background-color: var(--clr-red-light);


}

/* EFFETTI BARRA DI RICERCA
    EFFETTO BOTTONE-> CAMBIO BORDER RADIUS
    EFFETTO BARRA DI RICERCA -> CAMBIO LARGHEZZA
*/

header div.search-container button:hover{
    border-radius: 0px 20px 0px 0px;
    background-color: var(--clr-red-dark);

}

header div.search-container input[type=text]:focus,
header div.search-container input[type=text]:active {
  border-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 450px;
}

/* effetto hover sulle icons */

header div div.radius box-icon.icons{
    width: 50px;
}

.radius{
    border-radius: 30%;
    background-color: white;
    transition:ease-in 300ms;
    margin-right:5px;
    cursor: pointer;

}

.radius:hover{
    background-color: var(--clr-grey-10);

}

.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(244, 61, 61, 0.84);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

/* effetto rotate  */
.rotate{
    transform: rotate(90deg) ;
  }
